* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 800px;
    margin: 3px auto;
    border: solid red;
}

#side-by-side-1 {
    display: flex;
    align-items: center;
}

#side-by-side-1 img {
   width: 50%;
}

#side-by-side-1 h2 {
    font-size: 80px;
}

#side-by-side-2 {
    display: flex;
    align-items: center;
    gap: 36px;
}

#Side-by-side-2 .image-container {
    flex: 1;

}

